
#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {

  position: fixed;
  display:flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  border-radius: 10px;
  border: 10px solid #293241;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  margin: auto;
  width: 75%;
  height: 75%;
  text-align: center;
  
}